 <div class="center hero-unit">
    <h1>欢迎来到</h1>
    <h1>Aufree</h1>

	 <%= link_to image_tag("luffy.png", alt: "Luffy"), signup_path %>

    <%= link_to "现在注册!", signup_path,
                                class: "btn btn-large btn-primary signup" %>
    
  </div>