<footer class="footer">
  <small>
    <a href="https://freetalks.herokuapp.com/">The web site</a>
    by Paul King
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系", contact_path %></li>
      <li><a href="#">更新</a></li>
    </ul>
  </nav>
</footer>